@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is our discription of the site.</p>
</div>
<div>
    <form action="/Investments/Search" method="post">
        <input type="text" name="companyName" placeholder="Startup Name"/>
        <input type="text" name="country" placeholder="Country"/>
        <input type="text" name="city" placeholder="City"/>
        <input type="text" name="theme" placeholder="Themes"/>
        <input type="text" name="technologyAreas" placeholder="Tech Areas"/>
        <input type="text" name="alignment" placeholder="Alignment"/>
        <input type="number" name="rating" placeholder="Rating" />
        <input type="submit" />
    </form>
</div>

