
@model List<>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Rank</th>
        <th></th>


    </tr>
    @foreach (var startup in Model)
    {
        <tr>
            <td>@startup.Name</td>
            <td>@startup.Rank</td>
            <td>
                <a href="/Investment/AddToFavorites?id=@startup.Id" class="btn-dark">Add to favorites</a>
            </td>
        </tr>
    }
</table>
