@model FinalProject.Models.Favorite

<h2 class="alert-danger">Are you sure you would like to delete this comment?</h2>
<h5>@Model.PrivateComments</h5>
<button onclick="document.location = '/Investments/RemoveComment?id=@Model.Id'">YES</button>
<button onclick="window.location = document.referrer">NO</button>
