@model IEnumerable<Favorite>

    <div class="text-center">
        <h1 class="display-4">Favorites</h1>
    </div>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Rank</th>
            <th>Comment</th>
            <th>Add/Edit Comment</th>
        </tr>
        @foreach (var fav in Model)
        {
            <tr>
                <td>
                    <a href="/Investments/Individual?id=@fav.StartupId">@fav.StartupName</a><br />
                    <button onclick="document.location = '/Investments/ConfirmFavRemove?id=@fav.Id'">Remove</button>
                </td>
                <td>@fav.Rank</td>
                <td>@fav.PrivateComments</td>
                <td>
                    <form action="/Investments/AddComment" id="usrform" method="post">
                        <input type="hidden" name="Id" value="@fav.Id" />
                        <input type="text" name="comment" /><br />
                        <input type="submit" />
                    </form>
                </td>
                <td>
                    <button onclick="document.location = '/Investments/RemoveComment?id=@fav.Id'">Remove Comment</button>
                </td>
            </tr>
        }
    </table>

