@model IEnumerable<Favorite>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Rank</th>
        <th>Comment</th>
        <th></th>
        <th>Add/Edit Comment</th>


    </tr>
    @foreach (var fav in Model)
    {
        <tr>
            <td><a href="/Investments/Individual?id=@fav.StartupId">@fav.StartupName</a></td>
            <td>@fav.Rank</td>
            <td>@fav.PrivateComments</td>
            <td>
                <a href="/Investments/RemoveFavorite?id=@fav.Id" class="btn-danger">Remove Favorite</a>
            </td>
            <td>
                <textarea rows="4" cols="30" name="comment" form="usrform">Add Comments Here</textarea>
                <form action="/Investments/AddComment" id="usrform" method="post">
                    <input type="hidden" name="Id" value="@fav.Id" />
                    <input type="submit" />
                </form>
            </td>
            <td>
                <a href="/Investments/RemoveComment?id=@fav.Id" class="btn-danger">Remove Comment</a>
            </td>
        </tr>
    }
</table>

